
{% extends "base.html" %}

{% block meta %}
    <title>Syifa Bookstore</title>
</style>
{% endblock meta %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-center"><i>Syifa Bookstore</i></h1>

        <p class="text-center">Welcome {{ name }}, feel free to shop through our catalogues!</p>

        <h3 class="text-center">Our books</h3>

        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Genre</th>
                        <th>Price</th>
                        <th>Amount</th>
                        <th>Synopsis</th>
                        <th>Date Added</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                        <tr>
                            <td>{{ product.title }}</td>
                            <td>{{ product.author }}</td>
                            <td>{{ product.genre }}</td>
                            <td>${{ product.price }}</td>
                            <td>
                                <form action="{% url 'main:add_product' product.id %}" method="post">
                                    {% csrf_token %}
                                    <button class="btn btn-primary btn-sm" type="submit" name="Plus">+</button>
                                </form>
                                {{ product.amount }}
                                <form action="{% url 'main:decrement_product' product.id %}" method="post">
                                    {% csrf_token %}
                                    <button class="btn btn-primary btn-sm" type="submit" name="Minus">-</button>
                                </form>
                            </td>
                            <td>{{ product.synopsis }}</td>
                            <td>{{ product.date_added }}</td>
                            <td>
                                <form action="{% url 'main:remove_product' product.id %}" method="post">
                                    {% csrf_token %}
                                    <button class="btn btn-danger btn-sm" type="submit" name="Delete">Delete</button>
                                </form>
                                <a href="{% url 'main:edit_product' product.pk %}" class="btn btn-info btn-sm">Edit</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="text-center">
            <a href="{% url 'main:create_product' %}" class="btn btn-success">Add New Product</a>
        </div>

        <div class="text-center mt-3">
            <h5>Sesi terakhir login: {{ last_login }}</h5>
            <a href="{% url 'main:logout' %}" class="btn btn-danger">Logout</a>
        </div>
    </div>
{% endblock content %}