{% extends "base.html" %}

{% block meta %}
    <title>Syifa Bookstore</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            background-color: pink;
        }

        .book-title {
            font-size: 20px;
            font-weight: bold;
        }
        table {
            border-collapse: collapse;
            width: 100%;
        }

        table, th, td {
            border: 1px solid #000;
            padding: 10px;
            text-align: left;
        }

        th {
            background-color: #ccc;
        }

        tr {
            background-color: #fff;
        }
    </style>
{% endblock meta %}

{% block content %}
    <body style="background-color: pink;">

    <h1 style="color: black;"><i><big>Syifa</big> Bookstore</i></h1>

    <p style="color: black;">Welcome {{name}}, feel free to shop through our catalogues!</p>

    <h3 style="color: midnightblue;">Our books</h3>

    <table>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Price</th>
            <th>Amount</th>
            <th>Synopsis</th>
            <th>Date Added</th>
        </tr>

        {% for product in products %}
            <tr>
                <td>{{ product.title }}</td>
                <td>{{ product.author }}</td>
                <td>{{ product.genre }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.amount }}</td>
                <td>{{ product.synopsis }}</td>
                <td>{{ product.date_added }}</td>
            </tr>
        {% endfor %}
    </table>

    <br />

    <a href="{% url 'main:create_product' %}">
        <button>
            Add New Product
        </button>
    </a>
    <h5>Sesi terakhir login: {{ last_login }}</h5>
    <a href="{% url 'main:logout' %}">
        <button>
            Logout
        </button>
    </a>
    
    </body>
{% endblock content %}
