<html>
<head>
    <title>Syifa Bookstore</title>
</head>
<body style="background-color: pink;">

<h1 style="color: black;"><i><big>Syifa</big> Bookstore</i></h1>

<p style="color: black;">Welcome, feel free to browse through our catalogues!</p>

<h3 style="color: midnightblue">Our books</h3>

{% for book in books %}
    <h5>Title:</h5>
    <p>{{ book.title }}</p>

    <h5>Author:</h5>
    <p>{{ book.author }}</p>

    <h5>Genre:</h5>
    <p>{{ book.genre }}</p>

    <h5>Price:</h5>
    <p>{{ book.price }}</p>

    <h5>Amount:</h5>
    <p>{{ book.amount }}</p>

    <h5>Synopsis:</h5>
    <p>{{ book.synopsis }}</p>

    {% if not forloop.last %}
        <hr>
    {% endif %}
{% endfor %}

</body>
</html>
