{% extends 'base.html' %}

{% block meta %}
    <title>Register</title>
{% endblock meta %}

{% block content %}  
<style>
    /* Ubah warna teks input */
    input[type="text"],
    input[type="password"]
    input[type="password"] {
        background-color: #FCB7BA;
        color: black;
        border: 2px solid #000;
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
    }

    body {
        background-color: #96A856;
    }

    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #FFECC1;
        color: black;
        padding: 20px;
        text-align: center;
        border: 2px solid #000;
        margin: 0;
        font-family: 'Indie Flower';
        font-size: 24px;
    }

    .centered-title {
        font-size: 36px;
        color: #000; /* Tambahkan baris ini untuk mengubah warna teks */
    }

    .background {
        position: absolute;
        top: 75%;
        left: 50%;
        width: 1000px;

        transform: translate(-50%, -50%);
        background-color: #FCB7BA;
        padding: 10px;
        border: 2px solid #000;
        margin-top: 0;
        height: 500px;
    }

    .form-label {
        font-weight: bold;
    }

    .submit-button {
        background-color: #FFECC1;
        color: #000;
        border: 2px solid #000;
        padding: 10px 20px;
        cursor: pointer;
    }
</style>

<div class="centered">
    <h5 class="centered-title">Register</h5>
    
    <div class="background">
        <form method="POST">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
                <tr>
                    <td></td>
                    <td>
                        <input class="submit-button" type="submit" name="submit" value="Daftar"/>
                    </td>
                </tr>
            </table>
        </form>
        
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>
{% endblock content %}
